html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
}

.wrapper {
  padding: 1em;
}

.main {
  display: flex;
  justify-content: space-around;
}

.main > * {
  flex: 0 1 48%;
}
